
/* * {
    padding: 0
} */

* {
	font-family: 'Roboto Mono', monospace;
}

#name-title {
    font-family: 'Roboto Mono', monospace;
    font-size: 50px;
}

#introText {
    height:90vh;
}

/*  Self typing text */

.typewriter {
  color: #fff;
  font-size: 35px;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #fff; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 80% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #fff }
}
/*  END self typing text */

#landing-page {
    background: url("./public/background4.jpg");
    background-position: center;
    background-size: cover;
}

/*  Animation for arrow */

.arrow{
    position: absolute;
    top: 87%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.arrow span{
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #fff;
    border-right: 5px solid #fff;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}



/* About part  */

#about {
    height:100vh;
    background-color: #FFF;
    margin-bottom: 100px;
}

#aboutGrid {
    height: 100%;
}

/* Projects part */

.modal-lg {
    max-width: 90%;
}

/* Stack */

#stack {
    background-color: #fff;
    width: 1000px;
    margin-bottom: 100px;
}

.image-stack {
    width: 75px;
    height: 75px;
    transition: all .2s ease-in-out;
}

.image-stack:hover {
    transform: scale(1.2);
}

#node-logo {
    width: 100px;
    transition: all .2s ease-in-out;
}

#node-logo:hover {
    transform: scale(1.2);
}

#react-logo {
    width: 100px;
    transition: all .2s ease-in-out;
}

#react-logo:hover {
    transform: scale(1.2);
}

#handlebars-logo {
    height: 75px;
    transition: all .2s ease-in-out;
}

#handlebars-logo:hover {
	transform: scale(1.2);
}

#jquery-logo {
    width: 120px;
    transition: all .2s ease-in-out;
}

#jquery-logo:hover {
    transform: scale(1.2);
}

#bootsrap-logo {
    height: 75px;
    transition: all .2s ease-in-out;
}

#bootsrap-logo:hover {
    transform: scale(1.2);
}

#git-logo {
    width: 100px;
    transition: all .2s ease-in-out;
}

#git-logo:hover {
    transform: scale(1.2);
}

#python-logo {
    width: 120px;
    transition: all .2s ease-in-out;
}

#python-logo:hover {
    transform: scale(1.2);
}

#postgresql-logo {
    width: 75px;
    height: 75px;
    transition: all .2s ease-in-out;
}

#postgresql-logo:hover {
    transform: scale(1.2);
}

#socket-logo {
    width: 130px;
    transition: all .2s ease-in-out;
}

#socket-logo:hover {
	transform: scale(1.2);
}

#aws-logo {
    width: 125px;
    transition: all .2s ease-in-out;
}

#aws-logo:hover {
	transform: scale(1.2);
}

#sql-logo {
    transition: all .2s ease-in-out;
}

#sql-logo:hover {
    transform: scale(1.2);
}

#firebase-logo {
    width: 125px;
    transition: all .2s ease-in-out;
}

#firebase-logo:hover {
    transform: scale(1.2);
}

#reactnative-logo {
    width: 125px;
    transition: all .2s ease-in-out;
}

#reactnative-logo:hover {
    transform: scale(1.2);
}

#mongodb-logo {
    width: 125px;
    transition: all .2s ease-in-out;
}

#mongodb-logo:hover {
    transform: scale(1.2);
}


/* Icons in popup */

.image-stack-popup {
	width: 50px;
    height: 50px;
}

#node-logo-popup {
	width: 80px;
}

#git-logo-popup {
	width: 80px;
}

#react-logo-popup {
	width: 80px;
}

#aws-logo-popup {
	width: 80px;
}

#socket-logo-popup {
	width: 80px;
}



/*  Contact */

#contact {
    height:600px;
    background-color: #fff;
}




/* Button colors */

#button-petition {
	background: #FF8300;
	border: none;
	outline: none;
	border-radius: 0;
}

#button-petition:hover {
	opacity: 0.8;
}

#button-imageboard {
	background: gainsboro;
	border: none;
	outline: none;
	border-radius: 0;

}

#button-imageboard:hover {
	opacity: 0.8;
}

#button-socialnetwork {
	background: SkyBlue;
	border: none;
	outline: none;
	border-radius: 0;
}

#button-socialnetwork:hover {
	opacity: 0.8;
}

#button-coworking {
	background: rgb(57, 204, 204);
	border: none;
	outline: none;
	border-radius: 0;
}

#button-coworking:hover {
	opacity: 0.8;
}

#button-travel {
	background: rgb(255, 65, 54);
	border: none;
	outline: none;
	border-radius: 0;
}

#button-travel:hover {
	opacity: 0.8;
}


#button-bottom {
    width: 300px;
}
